body {
    background-color: #E2A0E2;
}

table{
    border-collapse:collapse;
    border: 1px;
}

.formularionombre {
    margin: auto;
    width: 40%;
    border: 3px solid green;
    padding: 10px;
} 
.formularionombre img{
    float: right;
    width: 220px;
    height: 220px;
}
